// 引入头部样式
@import url('header.less');
//main样式
.el-page-title{
    font-weight:bold;
    font-size:20px;
    margin-left:20px;
    margin-bottom: 20px;
    color:#337ab7;
    display: inline-block;
}
.panel-default{
    margin-top:10px;
    .panel-body{
        width:40%;
        margin:0 auto;
        .form-horizontal{
            margin-top:20px;
        }
    }
}

// 引入尾部样式
@import url('footer.less');